@model Bisopi___Proyectos.ViewModels.KanbanLeadViewModel
@using Bisopi___Proyectos.ViewModels
@using Bisopi___Proyectos.Models

<div class="row">
    <div class="col-6">
        <div class="row m-3">
    	    <div class="btn-group" role="group" aria-label="Acciones">
                <a type="button" class="btn p-1 btn-outline-secondary" href="/Leads/Create" >
                	<img title="Nuevo"  style="width:24px;cursor:pointer;" src="~/img/add.png" />
                	Nuevo Lead
    			</a>
                <a type="button" class="btn p-1 btn-outline-secondary" href="/Deals/Create" >
                    <img title="Nuevo" style="width:24px;cursor:pointer;" src="~/img/add.png" />
                	Nuevo Deal
    			</a>
                <a type="button" class="btn p-1 btn-outline-secondary" href="/Leads/List" >
                    <img title="Listado" style="width:24px;cursor:pointer;" src="~/img/list.png" />
                	Listado Leads
    			</a>
                <a type="button" class="btn p-1 btn-outline-secondary" href="/Deals/List" >
                    <img title="Listado" style="width:24px;cursor:pointer;" src="~/img/list.png" />
                	Listado Deals
    			</a>
                <a type="button" class="btn p-1 btn-outline-secondary" href="/Leads/Index" >
                    <img title="Kanban" style="width:24px;cursor:pointer;" src="~/img/kanban.png" />
                	Leads
    			</a>
                <a type="button" class="btn p-1 btn-outline-secondary" href="/Deals/Index" >
                    <img title="Kanban" style="width:24px;cursor:pointer;" src="~/img/kanban.png" />
                	Deals
    			</a>
			</div>			
		</div>
    </div>
</div>

<h4>Leads</h4>
<hr />
<br />

<div id="kanban">
    @(Html.DevExtreme().ScrollView()
            .ElementAttr("class", "scrollable-board")
            .Direction(ScrollDirection.Horizontal)
            .ShowScrollbar(ShowScrollbarMode.Always)
            .Content(
                Html.DevExtreme().Sortable()
                    .ElementAttr("class", "sortable-lists")
                    .ItemOrientation(Orientation.Horizontal)
                    .MoveItemOnDrop(true)
                    .Handle(".list-title")
                    .OnDragEnd("function(e) { handleDragEnd(e); }")
                    .Content(@<text>
                        @foreach (var status in Model.QuotesStatus)
                        {
                            var listModel = new KanbanLeadViewModel()
                            {
                                Status = status.QuoteStatusName,
                                Color = status.Color,
                                LeadsIEnumerable = Model.Leads.Where(t => t.QuoteStatusID == status.QuoteStatusID)
                            };
                            @await Html.PartialAsync("_KanbanLead", listModel)
                        }
                        </text>).ToString()
            )
        )
</div>

<script>
    function handleDragEnd(e) {
        var targetId = e.itemElement.data("target-id");
        var targetStatus = $(e.itemElement).closest(".list").find(".list-title").text();

        console.log(targetId);
        console.log(targetStatus);
    }
</script>
