
<h2>Configuraciones</h2>

<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Countries" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Paises</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Clients" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Clientes</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="ProjectsStatus" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Estados Proyectos</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="ProjectsTypes" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Tipos Proyectos</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="SupportsStatus" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Estados Soportes</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Currencies" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Monedas</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="QuoteStatus" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Estados Leads</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="ProposalStatus" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Estados Deals</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="ProjectTaskStatus" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Estados Tareas</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="ProjectTaskGroup" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Grupos Tareas</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="City" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Ciudades</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Group" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Grupos</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="RepresentativeMarketRate" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">TRM</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="RetentionPercentage" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Retención</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Users" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Usuarios</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Study" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Estudios</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Tool" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Herramientas</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Level" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Niveles</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="ActivityType" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Tipos de Actividad</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Roles" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Cargos</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-area="" asp-controller="Setup" asp-action="Seniority" style="text-decoration: none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @*Creación*@
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-primary" style="color: #6C757D !important;">Antigüedad</div>
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-wrench  fa-2x text-gray-300"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>
