@using Bisopi___Proyectos.Extensions;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bisopi-Proyectos</title>

    <script src="https://unpkg.com/devextreme-quill/dist/dx-quill.min.js"></script>

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />

    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <link href="~/newstyles/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>

    <script src="~/js/devextreme/dx.all.js"></script>

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/21.1.5/js/localization/dx.messages.es.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo_2.png" style="height: 40%; width: 40%;"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Operaciones
                                </button>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Project" asp-action="Index">Listado Proyectos</a>
                                    <a class="dropdown-item" asp-controller="Programmings" asp-action="ProjectMonitoring">Seguimiento Proyectos</a>
                                    <a class="dropdown-item" asp-controller="Programmings" asp-action="ResourceMonitoring">Seguimiento Recursos</a>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Leads" asp-action="Index">CRM</a>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administrativo
                                </button>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="InvoiceReport" asp-action="Index">Reporte Facturación</a>
                                </ul>
                            </li>
                            @if (await User.IsViewAvaliableForRole("Configuracion"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Setup" asp-action="Index">Configuración</a>
                                </li>
                            }
                        }   
                    </ul>
                </div>
                @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <div class="navbar-brand alert alert-success bg-success text-light p-2 d-flex align-items-center d-none" role="alert" id="div_crono_2" style='font-size:12px;'>Cargando...</div>
                }
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container" style="min-width: 95% !important;>
        <main role="main" class="pb-3">
            <partial name="_AlertPartial" />
            @RenderBody()
        </main>
    </div>

    <br />
    <br />
    <br />

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Bisopi___Proyectos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>

<script>
    DevExpress.localization.locale('es');
</script>
<script src="~/js/cron.js" asp-append-version="true"></script>